version: "3.8"
services:
  beszel:
    image: henrygd/beszel:0.17.0
    container_name: beszel
    restart: unless-stopped
    ports:
      - 8090:8090
    volumes:
      - /volume2/dockerssd/beszel:/beszel_data
  beszel-agent:
    image: henrygd/beszel-agent:latest
    container_name: beszel-agent
    restart: unless-stopped
    network_mode: host
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    environment:
      PORT: 45876
      # Do not remove quotes around the key
      KEY: ${KEY}
