services:
  metube:
    image: ghcr.io/alexta69/metube:2026.02.19
    container_name: metube
    user: 1026:100
    restart: unless-stopped
    ports:
      - 8081:8081
    volumes:
      - /volume1/data/media/youtube:/downloads
