version: "3.8"
services:
  metube:
    image: ghcr.io/alexta69/metube:2026.02.01
    container_name: metube
    restart: unless-stopped
    ports:
      - 8081:8081
    volumes:
      - /volume1/data/media/youtube:/downloads
